<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>타이틀</title>
</head>
<body>
<div class="container">
  <form  method="post" enctype="multipart/form-data">
    <div class="form-group">
      <div>
        <label for="missingName">실종자 이름</label>
        <input type="text" id="missingName" name="missingName" th:value="${case.missingName}" placeholder="이름을 입력하세요">
        <span th:text="${valid_missingName}"></span>
      </div>

      <div>
        <label for="missingPics">실종자 사진</label>
          <div th:each="imageFile  : ${case.getMissingPics()}">
            <form th:name="${imageFile.getSavedFileName()}" method="post" enctype="multipart/form-data" target="blankifr">
            <img th:src="@{/images/{filepath}/{filename} (filepath=${imageFile.getUploadPath()}, filename='s_' + ${imageFile.getSavedFileName()})}" width="100" height="100" style="margin-right: 5px"/>
            <input type="hidden" id="fileName" name="fileName" th:value="${imageFile.getUploadPath()} + '/s_' +  ${imageFile.getSavedFileName()}" readonly>
            <input type="hidden" id="fileType" name="fileType" th:value="${imageFile.getFileType()}" readonly>
            <button type="submit" formaction="/deleteFile">x</button>
          </div>
        </form>
      </div>

      <div>
        <label for="missingAge">실종자 나이</label>
        <input type="number" id="missingAge" name="missingAge" min="1" max="150" th:value="${case.missingAge}" placeholder="나이를 입력하세요">
        <span th:text="${valid_missingAge}"></span>
      </div>

      <div>
        <label for="missingSex">실종자 성별</label>
        <label for="man">남자</label>
        <input type="radio" name="missingSex" value=true id="man" th:checked="${case.missingSex eq true}">
        <label for="woman">여자</label>
        <input type="radio" name="missingSex" value=false id="woman" th:checked="${case.missingSex eq false}"/>
        <span th:text="${valid_missingSex}"></span>
      </div>

      <div>
        <label for="missingDesc">실종자 정보</label>
        <input type="text" id="missingDesc" name="missingDesc" th:value="${case.missingDesc}" placeholder="추가 실종자 정보를 입력하세요">
        <span th:text="${valid_missingDesc}"></span>
      </div>

      <div>
        <label for="missingArea">실종 지역</label>
        <input type="text" id="missingArea" name="missingArea" placeholder="지역을 입력하세요" th:value="${case.missingArea}" style="width: 20%" readonly>
        <input type="hidden" id="missingLng" name="missingLng" th:value="${case.missingLng} " readonly>
        <input type="hidden" id="missingLat" name="missingLat" th:value="${case.missingLat} " readonly>
        <span th:text="${valid_missingArea}"></span>
        <div th:unless="${case.missingArea}">
          <input type="text" id="missingArea" name="missingArea" placeholder="지역을 입력하세요" disabled>
        </div>
        <button type="submit" formaction="/cases/new/searchPlace">지도에서 찾기</button>
      </div>

      <div>
        <label for="missingTimeStart">실종 시간</label>
        <input type="datetime-local" id="missingTimeStart" name="missingTimeStart" th:value="${case.missingTimeStart}"> ~
        <input type="datetime-local" id="missingTimeEnd" name="missingTimeEnd" th:value="${case.missingTimeEnd}">
        <span th:text="${valid_missingTimeStart}"></span>
        <span th:text="${valid_missingTimeEnd}"></span>
      </div>

    </div>
    <button type="submit" th:action="@{/cases/update/{id}(id = ${case.getCaseId()})}">수정</button>
  </form>
</div> <!-- /container -->
</body>
<iframe name="blankifr" style="display:none;"></iframe>
</html>