<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
  <div>
    <table class="table table-bordered">
      <!-- CONTENTS !-->
      <thead>
      <tr>
        <th class="col-md-1">번호</th>
        <th class="col-md-4">실종자 이름</th>
        <th class="col-md-3">실종자 정보 (나이/성별)</th>
        <th class="col-md-3">지역</th>
        <th class="col-md-2">작성자</th>
        <th class="col-md-2">작성일</th>
      </tr>
      </thead>

      <tbody>
      <!-- CONTENTS !-->
      <tr th:each="case : ${cases}">
        <td th:text="${case.getCaseId()}"></td>
        <td><a th:href="@{/cases/detail/{id} (id=${case.getCaseId()})}" th:text="${case.getMissingName()}"></a></td>
        <td>
          <p>
            <span th:text="${case.getMissingAge()} + '살 '"/>
            <span th:if="${case.getMissingSex() == false}">(여자)</span>
            <span th:if="${case.getMissingSex() == true}">(남자)</span>
          </p>
        </td>
        <td th:text="${case.getMissingRegion()}"></td>
        <td th:text="${case.getUser().getName()}"></td>
        <td th:text="${case.getCreatedTime()}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div> <!-- /container -->
</body>
</html>