<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout/layout}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=lez4a7aeq8&submodules=geocoder"></script>
</head>
<body>
<div layout:fragment="content" class="container">
  <div>
    <table class="table table-bordered">
      <!-- CONTENTS !-->
      <thead>
      <tr>
        <th class="col-md-1">번호</th>
        <th class="col-md-2">실종 여부</th>
        <th class="col-md-2">사진</th>
        <th class="col-md-4">실종자 이름</th>
        <th class="col-md-3">실종자 정보 (나이/성별)</th>
        <th class="col-md-3">지역</th>
        <th class="col-md-2">작성자</th>
        <th class="col-md-2">작성일</th>
        <th class="col-md-2">조회수</th>
      </tr>
      </thead>

      <tbody>
      <!-- CONTENTS !-->
      <tr th:each="case : ${cases}">
        <td th:text="${case.getCaseId()}"></td>
        <td>
          <span th:if="${case.getIsFind() == false}">실종</span>
          <span th:if="${case.getIsFind() == true}">찾음</span>
        </td>
        <td>
          <img th:each="imageFile  : ${case.getMissingPicThumb()}"
               th:src="@{/images/{filename} (filename='s_' + ${imageFile.getSavedFileName()})}" width="100" height="100" style="margin-right: 5px"/>
        </td>
        <td><a th:href="@{/cases/detail/{id} (id=${case.getCaseId()})}" th:text="${case.getMissingName()}"></a></td>
        <td>
          <p>
            <span th:text="${case.getMissingAge()} + '살 '"/>
            <span th:if="${case.getMissingSex() == false}">(여자)</span>
            <span th:if="${case.getMissingSex() == true}">(남자)</span>
          </p>
        </td>
        <td th:text="${case.getMissingRegion()}"></td>
        <td th:text="${case.getUserName()}"></td>
        <td th:text="${#temporals.format(case.createdTime, 'yyyy-MM-dd')}"></td>
        <td th:text="${case.getHitCnt()}"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div> <!-- /container -->
</body>
</html>