<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
  <div>
    <table class="table table-bordered">
      <!-- CONTENTS !-->
      <thead>
      <tr>
        <th class="col-md-1">번호</th>
        <th class="col-md-4">실종자 이름</th>
        <th class="col-md-3">실종자 정보 (나이/성별)</th>
        <th class="col-md-3">지역</th>
        <th class="col-md-2">작성자</th>
        <th class="col-md-2">작성일</th>
      </tr>
      </thead>

      <tbody>
      <!-- CONTENTS !-->
      <tr th:each="case : ${cases}">
        <td th:text="${case.getCase_id()}"></td>
        <td><a th:href="@{/cases/detail/{id} (id=${case.getCase_id()})}" th:text="${case.getMissing_name()}"></a></td>
        <td th:text="${case.getMissing_age()}"></td>
        <td th:text="${case.getMissing_region()}"></td>
        <td th:text="${case.getUser().getId()}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div> <!-- /container -->
</body>
</html>