<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>사건 상세 페이지</title>
</head>
<style>
  .layout {
    width: 500px;
    margin: 0 auto;
    margin-top: 40px;
  }

  .layout input {
    width: 100%;
    box-sizing: border-box;
  }

  .layout textarea {
    width: 100%;
    margin-top: 10px;
    min-height: 300px;
  }
</style>
<body>
<table class ="table table-bordered">
  <thead>
  <caption>사건 상세보기</caption>
  </thead>
  <tbody>
  <tr>
    <th>실종자 이름</th>
    <td th:text="${case.getMissingName()}"></td>
  </tr>
  <tbody>
<!--  <tr th:each="pic : ${missing_pics}">-->
  <tr>
    <th>실종자 사진</th>
    <img th:each="imageFile  : ${missing_pics}"
         th:src="@{/images/{filepath}/{filename} (filepath=${imageFile.getUploadPath()}, filename=${imageFile.getSavedFileName()})}" width="300" height="300" style="margin-right: 5px"/>
  </tr>
  <tr>
    <th>실종자 나이</th>
    <td th:text="${case.getMissingAge()} + '살'"></td>
  </tr>
  <tr>
    <th>실종자 성별</th>
    <td th:if="${case.getMissingSex() == false}">여자</td>
    <td th:if="${case.getMissingSex() == true}">남자</td>
  </tr>
  <tr>
    <th>실종자 정보</th>
    <td th:text="${case.getMissingDesc()}"></td>
  </tr>
  <tr>
    <th>실종자 지역</th>
    <td th:text="${case.getMissingArea()}"></td>
  </tr>
  <tr>
    <th>실종 시간</th>
    <td>
      <p>
      <span th:text="${case.getMissingTimeStart()}"></span> ~
      <span th:text="${case.getMissingTimeEnd()}"></span>
      </p>
    </td>
  </tr>
  </tbody>
</table>

<div th:if="${user != null}">
  <a href="/reports/new">제보하기</a>
  <div th:if="${case.getUserId() == user.getId()}">
    <a th:href="@{/cases/delete/{id}(id=${case.getCaseId()})}">글 삭제</a>
    <a th:href="@{/cases/update/{id}(id=${case.getCaseId()})}">글 수정</a>
  </div>
</div>

</body>
</html>