<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>사건 상세 페이지</title>
</head>
<style>
  .layout {
    width: 500px;
    margin: 0 auto;
    margin-top: 40px;
  }

  .layout input {
    width: 100%;
    box-sizing: border-box;
  }

  .layout textarea {
    width: 100%;
    margin-top: 10px;
    min-height: 300px;
  }
</style>
<body>
<table class ="table table-bordered">
  <thead>
  <caption>사건 상세보기</caption>
  </thead>
  <tbody>
  <tr>
    <th>실종자 이름</th>
    <td th:text="${case.getMissingName()}"></td>
  </tr>
  <tbody>
<!--  <tr th:each="pic : ${missing_pics}">-->
  <tr>
    <th>실종자 사진</th>
    <td th:each="imageFile  : ${case.getMissingPics()}">
      <img th:src="@{/images/{filepath}/{filename} (filepath=${imageFile.getUploadPath()}, filename=${imageFile.getSavedFileName()})}" width="300" height="300" style="margin-right: 5px"/>
      <a th:href="@{/download/{filepath}/{filename} (filepath=${imageFile.getUploadPath()}, filename=${imageFile.getSavedFileName()})}">
        <div th:text="${imageFile.getOrgFileName()}"></div>
      </a>
    </td>
  </tr>
  <tr>
    <th>실종자 나이</th>
    <td th:text="${case.getMissingAge()} + '살'"></td>
  </tr>
  <tr>
    <th>실종자 성별</th>
    <td th:if="${case.getMissingSex() == false}">여자</td>
    <td th:if="${case.getMissingSex() == true}">남자</td>
  </tr>
  <tr>
    <th>실종자 정보</th>
    <td th:text="${case.getMissingDesc()}"></td>
  </tr>
  <tr>
    <th>실종자 지역</th>
    <td th:text="${case.getMissingArea()}"></td>
  </tr>
  <tr>
    <th>실종 시간</th>
    <td>
      <p>
      <span th:text="${case.getMissingTimeStart()}"></span> ~
      <span th:text="${case.getMissingTimeEnd()}"></span>
      </p>
    </td>
  </tr>
  </tbody>
</table>


<div th:if="${user != null}">

  <a th:href="@{/cases/detail/{id}/warn (id=${case.getCaseId()})}">사건 신고하기</a>
  <a th:href="@{/reports/new/{id}(id=${case.getCaseId()})}">제보하기</a>
  <div th:if="${case.getUserId() == user.getId()}">
    <a th:href="@{/cases/delete/{id}(id=${case.getCaseId()})}">글 삭제</a>
    <a th:href="@{/cases/update/{id}(id=${case.getCaseId()})}">글 수정</a>
    <a th:href="@{/cases/detailReport/{id}(id=${case.getCaseId()})}">제보 시각화하기</a>

    <div th:unless="${case.getIsFind()}">
      <button th:onclick="|location.href='@{/cases/find/{id} (id=${case.getCaseId()})}'|">실종자 찾음</button>
    </div>
    <div th:if="${case.getIsFind()}">
      <button disabled>실종자 찾음</button>
    </div>

  <form th:action="@{/cases/detail/{id}/submit(id=${case.getCaseId()})}" method="post">
    <div>
      <table>
        <tbody>
        <tr>
          <td>실종 기간</td>
          <td>
            <span><input type="date" id="missing_time1" name="missing_time_start" ></span>
            <span>  ~  </span>
            <span><input type="date" id="missing_time2" name="missing_time_end" ></span>
          </td>
        </tr>
        <tr>
          <td>실종 지역</td>
          <td>
            <select>
              <option value="서울">서울</option>
              <option value="경기">경기도</option>
              <option value="강원">강원도</option>
              <option value="전남">전라남도</option>
              <option value="전북">전라북도</option>
              <option value="경남">경상남도</option>
              <option value="경북">경상북도</option>
              <option value="충남">충청남도</option>
              <option value="충북">충청북도</option>
            </select>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <button type="submit">적용</button> <button type="reset">조건 초기화</button>
  </form>


  <div th:if="${case.getUserId() == user.getId()}">
    <table class="table table-bordered">
      제보 목록
      <!-- CONTENTS !-->
      <thead>
      <tr>
        <th class="col-md-1">번호</th>
        <th class="col-md-4">글제목</th>
        <th class="col-md-3">작성자</th>
        <th class="col-md-2">작성일</th>
        <th class="col-md-2">수정일</th>
      </tr>
      </thead>

      <tbody>
      <!-- CONTENTS !-->
      <tr th:each="report : ${reports}">
        <td th:text="${report.getId()}"></td>
        <td><a th:href="@{/reports/detail/{id}(id=${report.getId()})}" th:text="${report.getWitness_title()}"></a></td>
        <td th:text="${report.getUser().getName()}"></td>
        <!--        <td th:text="${#dates.format(report.getCreatedTime(), 'yyyy-MM-dd')}"></td>-->
      </tr>
      </tbody>
    </table>
  </div>
</div>

  <div th:if="${#lists.size(reports)>0} and ${case.getUserId() != user.getId()}">
    <table class="table table-bordered">
      제보 목록
      <!-- CONTENTS !-->
      <thead>
      <tr>
        <th class="col-md-1">번호</th>
        <th class="col-md-4">글제목</th>
        <th class="col-md-3">작성자</th>
        <th class="col-md-2">작성일</th>
        <th class="col-md-2">수정일</th>
      </tr>
      </thead>

      <tbody>
      <!-- CONTENTS !-->
      <tr th:each="report : ${reports}">
        <td th:text="${report.getId()}"></td>
        <td><a th:href="@{/reports/detail/{id}(id=${report.getId()})}" th:text="${report.getWitness_title()}"></a></td>
        <td th:text="${report.getUser().getName()}"></td>
        <!--        <td th:text="${#dates.format(report.getCreatedTime(), 'yyyy-MM-dd')}"></td>-->
      </tr>
      </tbody>
    </table>
  </div>



</body>
</html>