<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>사건 상세 페이지</title>
</head>
<style>
  .layout {
    width: 500px;
    margin: 0 auto;
    margin-top: 40px;
  }

  .layout input {
    width: 100%;
    box-sizing: border-box;
  }

  .layout textarea {
    width: 100%;
    margin-top: 10px;
    min-height: 300px;
  }
</style>
<body>
<table class ="table table-bordered">
  <thead>
  <caption>사건 상세보기</caption>
  </thead>
  <tbody>
  <tr>
    <th>실종자 이름</th>
    <td th:text="${case.getMissing_name()}"></td>
  </tr>
  <tbody>
  <tr>
    <th>실종자 사진</th>
<!--    <td th:text="${report.getUser().getName()}"></td>-->
  </tr>
  <tr>
    <th>실종자 나이</th>
    <td th:text="${case.getMissing_age()}"></td>
  </tr>
  <tr>
    <th>실종자 성별/th>
    <td th:text="${case.getMissing_sex()}"></td>
  </tr>
  <tr>
    <th>실종자 정보/th>
    <td th:text="${case.getMissing_desc()}"></td>
  </tr>
  <tr>
    <th>실종자 지역/th>
    <td th:text="${case.getMissing_area()}"></td>
  </tr>
  <tr>
    <th>실종 시간/th>
    <td th:text="${case.getMissing_time_start()}"></td>
    <td th:text="${case.getMissing_time_end()}"></td>
  </tr>
  </tbody>
</table>

<a href="/reports/new">제보하기</a>
<div th:if="${case.getUser().getId() == user.getId()}">
  <a th:href="@{/cases/delete/{id}(id=${case.getCase_id()})}">글 삭제</a>
  <a th:href="@{/cases/update/{id}(id=${case.getCase_id()})}">글 수정</a>
</div>

</body>
</html>