<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
  <form action="/cases/new" method="post">
    <div class="form-group">
<!--      <label for="finder_id">찾는자 id</label> &lt;!&ndash; 나중엔 없어질 팔드&ndash;&gt;-->
<!--      <input type="text" id="finder_id" name="finder_id" placeholder="찾는자 id를 입력하세요">-->


      <label for="missing_name">실종자 이름</label>
      <input type="text" id="missing_name" name="missing_name" placeholder="이름을 입력하세요">



    </div>
    <button type="submit">등록</button>
  </form>
</div> <!-- /container -->
</body>
</html>