<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
  <meta charset="utf-8">
  <title>마이페이지 - 실종자 목록</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=lez4a7aeq8&submodules=geocoder"></script>
</head>
<body>
<div layout:fragment="content" class="container">
  <h2 style="text-align: center; margin-top:50px; margin-bottom:50px;" th:text="${user.getName()} + ' 님이 등록한 실종자 목록'"/>
  <hr>
  <div>
    <table class="table table-bordered" style="margin-top:40px;margin-bottom: 40px;">
      <thead>
      <tr style="text-align: center;">
        <th class="col-md-1">번호</th>
        <th class="col-md-5">실종자 이름</th>
        <th class="col-md-2">작성일</th>
        <th class="col-md-1">실종여부</th>
        <th class="col-md-2">제보보기</th>
        <th class="col-md-1">조회수</th>
      </tr>
      </thead>

      <tbody style="text-align: center; vertical-align: middle;">
      <tr th:each="case, index : ${cases}">
        <td style="text-align: center;" th:text="${index.index} +1"></td>
        <td>
          <a th:href="@{/cases/detail/{id} (id=${case.getCaseId()})}" th:text="${case.getMissingName()}"></a>
        </td>
        <td th:text="${#temporals.format(case.createdTime, 'yyyy-MM-dd')}"></td>
        <td>
          <span th:if="${case.getIsFind() == false}">실종</span>
          <span th:if="${case.getIsFind() == true}">찾음</span>
        </td>
        <td>
          <a class="btn btn-primary"
             th:href="@{/cases/detailReport/{id}(id=${case.getCaseId()})}">제보보기</a>
        </td>
        <td th:text="${case.getHitCnt()}"></td>
        </tr>
      </tbody>
    </table>
    <!-- 페이징처리 시작 -->
    <div th:if="${!cases.isEmpty()}" style="margin-bottom: 70px;">
      <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${!cases.hasPrevious} ? 'disabled'">
          <a class="page-link"
             th:href="@{|?page=${cases.number-1}|}">
            <span>이전</span>
          </a>
        </li>
        <li th:each="page: ${#numbers.sequence(1, cases.totalPages)}"
            th:classappend="${page == cases.number} ? 'active'"
            class="page-item">
          <a th:text="${page}" class="page-link" th:href="@{|?page=${page -1}|}"></a>
        </li>
        <li class="page-item" th:classappend="${!cases.hasNext} ? 'disabled'">
          <a class="page-link" th:href="@{|?page=${cases.number+1}|}">
            <span>다음</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- 페이징처리 끝 -->


  </div>
</div> <!-- /container -->
</body>
</html>