<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content" class="container">
    <form action="/cases/search/submit" method="post">
        <div class="form-group">
                <!--<label for="missing_name">실종자 이름</label>-->
                <input type="text" id="missing_name" name="missing_name" placeholder="검색 내용을 입력하세요">
                <select name = "search_type" id = "search_type">
                    <option selected value="">검색 내용 선택</option>
                    <option value="name">이름</option>
                    <option value="area">주소</option>
                </select>
        </div>
        <div>
            <table>
                <tbody>
                <tr>
                    <td>성별</td>
                    <td>
                        <span>
                            <label>
                                여성 <input type="checkbox" name="missing_sex" id="woman" value="0">
                            </label>
                        </span>
                        <span>
                            <label>
                                남성 <input type="checkbox" name="missing_sex" id="man" value="1">
                            </label>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>연령대</td>
                    <td>
                        <input type="radio" name="missing_age" id="age00" value="0">10세 이하
                        <span><input type="radio" name="missing_age" id="age01" value="10">10대</span>
                        <span><input type="radio" name="missing_age" id="age02" value="20">20대</span>
                        <span><input type="radio" name="missing_age" id="age03" value="30">30대</span>
                        <span><input type="radio" name="missing_age" id="age04" value="40">40대</span>
                        <span><input type="radio" name="missing_age" id="age05" value="50">50대</span>
                        <span><input type="radio" name="missing_age" id="age06" value="60">60대</span>
                        <span><input type="radio" name="missing_age" id="age07" value="70">70대</span>
                        <span><input type="radio" name="missing_age" id="age08" value="80">80세 이상</span>
                    </td>
                </tr>
                <tr>
                    <td>실종 지역</td>
                    <td>
                        <span><input type="checkbox" name="missing_area" id="area00" value="서울"> 서울</span>
                        <span><input type="checkbox" name="missing_area" id="area01" value="경기"> 경기도</span>
                        <span><input type="checkbox" name="missing_area" id="area02" value="강원"> 강원도</span>
                        <span><input type="checkbox" name="missing_area" id="area03" value="전남"> 전라남도</span>
                        <span><input type="checkbox" name="missing_area" id="area04" value="전북"> 전라북도</span>
                        <span><input type="checkbox" name="missing_area" id="area05" value="경북"> 경상북도</span>
                        <span><input type="checkbox" name="missing_area" id="area06" value="경남"> 경상남도</span>
                        <span><input type="checkbox" name="missing_area" id="area07" value="충남"> 충청남도</span>
                        <span><input type="checkbox" name="missing_area" id="area08" value="충북"> 충청북도</span>
                    </td>
                </tr>
                <tr>
                    <td>특징</td>
                    <td>
                        <input type="radio" name="missing_feature" id="feature00" value="1">비장애아동
                        <span><input type="radio" name="missing_feature" id="feature01" value="2">장애인</span>
                        <span><input type="radio" name="missing_feature" id="feature02" value="3">치매환자</span>
                        <span><input type="radio" name="missing_feature" id="feature03" value="4">기타(18세 이상)</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <button type="submit">사건 조회</button> <button type="reset">조건 초기화</button>
    </form>

    <div>
        <table class="table table-bordered">
            <!-- CONTENTS !-->
            <thead>
            <tr>
                <th class="col-md-1">번호</th>
                <th class="col-md-2">실종 여부</th>
                <th class="col-md-2">사진</th>
                <th class="col-md-4">실종자 이름</th>
                <th class="col-md-3">실종자 정보 (나이/성별)</th>
                <th class="col-md-3">지역</th>
                <th class="col-md-2">작성자</th>
                <th class="col-md-2">작성일</th>
                <th class="col-md-2">조회수</th>
            </tr>
            </thead>

            <tbody>
            <!-- CONTENTS !-->
            <tr th:each="case : ${cases}">
                <td th:text="${case.getCaseId()}"></td>
                <td>
                    <span th:if="${case.getIsFind() == false}">실종</span>
                    <span th:if="${case.getIsFind() == true}">찾음</span>
                </td>
                <td>
                    <img th:each="imageFile  : ${case.getMissingPicThumb()}"
                         th:src="@{/images/{filepath}/{filename} (filepath=${imageFile.getUploadPath()}, filename='s_' + ${imageFile.getSavedFileName()})}" width="100" height="100" style="margin-right: 5px"/>
                </td>
                <td><a th:href="@{/cases/detail/{id} (id=${case.getCaseId()})}" th:text="${case.getMissingName()}"></a></td>
                <td>
                    <p>
                        <span th:text="${case.getMissingAge()} + '살 '"/>
                        <span th:if="${case.getMissingSex() == false}">(여자)</span>
                        <span th:if="${case.getMissingSex() == true}">(남자)</span>
                    </p>
                </td>
                <td th:text="${case.getMissingRegion()}"></td>
                <td th:text="${case.getUserName()}"></td>
                <td th:text="${case.getCreatedTime()}"></td>
                <td th:text="${case.getHitCnt()}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->
<!--<div class="container">-->
<!--    <div>-->
<!--        <table>-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>#</th>-->
<!--                <th>사건 조회</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr th:each="search : ${searchList}">-->
<!--                <td th:text="${search.missing_name}"></td>-->
<!--                <td th:text="${search.missing_age}"></td>-->
<!--                <td th:text="${search.missing_sex}"></td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </div>-->
<!--</div>-->

</html>