<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="utf-8">
    <title>ComeBackHome</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <style>
        .article{

        }
        .flex-container {
            display: flex;
            padding-bottom: 20px;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .flex-item {
            flex: none;
            flex: 1; /* flex: 1 1 0 */
            overflow: auto;
            /*flex-basis: 25%;*/
        }

        .flex-image{
            flex: auto;
        }

    </style>

</head>

<div layout:fragment="content" class="container">
    <h2 style="text-align: center; margin-top:50px; margin-bottom:10px;">실종자 목록</h2>
    <p style="text-align:center; padding-bottom: 50px;" class="text-decoration-underline">실종자를 검색하고 찾을 수 있습니다</p>
    <hr>
    <form action="/cases/search/submit" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div class="input-group mb-3">
            <!--<label for="missing_name">실종자 이름</label>-->
            <span class="input-group-text" id="inputGroup-sizing-default">검색</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default" id="missing_name" name="missing_name"
                   placeholder="검색 내용을 입력하세요">
            <select name="search_type" id="search_type">
                <option selected value="">필터링</option>
                <option value="name">이름</option>
                <option value="area">주소</option>
            </select>
        </div>
        <div>
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th style="text-align: center;">성별</th>
                    <td>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" name="missing_sex" id="woman" value="0">
                            <label class="form-check-label" for="woman">여성</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="missing_sex" id="man" value="1">
                            <label class="form-check-label" for="man">남성</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th style="text-align: center;">연령대</th>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="missing_age" id="age00" value="0">
                            <label class="form-check-label" for="age00">10세 이하</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="missing_age" id="age01" value="10">
                            <label class="form-check-label" for="age01">10대</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="missing_age" id="age02" value="10">
                            <label class="form-check-label" for="age02">20대</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="missing_age" id="age03" value="10">
                            <label class="form-check-label" for="age03">30대</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="missing_age" id="age04" value="10">
                            <label class="form-check-label" for="age04">40대</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="missing_age" id="age05" value="10">
                            <label class="form-check-label" for="age05">50대</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="missing_age" id="age06" value="10">
                            <label class="form-check-label" for="age06">60대</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="missing_age" id="age07" value="10">
                            <label class="form-check-label" for="age07">70대</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="missing_age" id="age08" value="10">
                            <label class="form-check-label" for="age08">80세 이상</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th style="text-align: center;">실종 지역</th>
                    <td>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" name="missing_area" id="area00" value="서울">
                            <label class="form-check-label" for="area00">서울</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" name="missing_area" id="area01" value="경기">
                            <label class="form-check-label" for="area01">경기도</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" name="missing_area" id="area02" value="강원">
                            <label class="form-check-label" for="area02">강원도</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" name="missing_area" id="area03" value="전남">
                            <label class="form-check-label" for="area03">전라남도</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" name="missing_area" id="area04" value="전북">
                            <label class="form-check-label" for="area04">전라북도</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" name="missing_area" id="area05" value="경북">
                            <label class="form-check-label" for="area05">경상북도</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" name="missing_area" id="area06" value="경남">
                            <label class="form-check-label" for="area06">경상남도</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" name="missing_area" id="area07" value="충남">
                            <label class="form-check-label" for="area07">충청남도</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" name="missing_area" id="area08" value="충북">
                            <label class="form-check-label" for="area08">충청북도</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th style="text-align: center;">특징</th>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="missing_feature" id="feature00"
                                   value="1">
                            <label class="form-check-label" for="feature00">비장애아동</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="missing_feature" id="feature01"
                                   value="2">
                            <label class="form-check-label" for="feature01">장애인</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="missing_feature" id="feature02"
                                   value="3">
                            <label class="form-check-label" for="feature02">치매환자</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="missing_feature" id="feature03"
                                   value="4">
                            <label class="form-check-label" for="feature03">기타(18세 이상)</label>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="container" style="text-align:center;">
            <button class="btn btn-dark" type="submit">사건 조회</button>
            <button class="btn btn-dark" type="reset">조건 초기화</button>
        </div>

    </form>
    <hr>

    <div class="container" style="padding-top:20px; padding-bottom: 70px;">
        <div class="flex-container">
            <div class="card mb-lg-5" style="width: 15rem;" th:each="case : ${cases}">
                <div class="flex-image">
                    <img class="card-img-top" th:each="imageFile  : ${case.getMissingPicThumb()}"
                         th:src="@{/images/{filename} (filename='s_' + ${imageFile.getSavedFileName()})}"
                         width="100%" height="230px">
                </div>
                <div class="card-body">
                    <h5 th:text="${case.getMissingName()}"></h5>
                    <div class="card-text">
                        <span th:text="${case.getMissingAge()} + '세 '"/>
                        <span th:if="${case.getMissingSex() == false}">(여자)</span>
                        <span th:if="${case.getMissingSex() == true}">(남자)</span>
                    </div>
                    <p th:text="'실종 지역: ' + ${case.getMissingRegion()}"/>
                    <p th:if="${case.getIsFind() == false}" style="color:red;">상태: 실종</p>
                    <p th:if="${case.getIsFind() == true}" style="color:green;">상태: 찾음</p>
                    <div style="text-align: right;">
                        <a th:href="@{/cases/detail/{id} (id=${case.getCaseId()})}" class="btn btn-primary btn-sm">상세보기</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- 페이징처리 시작 -->
    <div th:if="${!cases.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!cases.hasPrevious} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|?page=${cases.number-1}|}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, cases.totalPages-1)}"
                th:classappend="${page == cases.number} ? 'active'"
                class="page-item">
                <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
            </li>
            <li class="page-item" th:classappend="${!cases.hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${cases.number+1}|}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- 페이징처리 끝 -->
</div>



</html>