<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>키워드로 장소검색하고 목록으로 표출하기</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<!--  <script src="jquery-3.5.1.min.js"></script>-->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=lez4a7aeq8&submodules=geocoder"></script>
  <style>
    th{
      border:1px solid black;
    }
    table{
      border-collapse: collapse;
      border:1px solid black;
    }
    td{
      border:1px solid black;
    }
  </style>
</head>
<body>
<!--장소 선택 방식 -->
<!--<div class="place_option">-->
<!--  <a href="/cases/new/selectPlace"><button>장소 직접 선택하기</button></a>-->
<!--  <a href="/cases/new/searchPlace"><button>장소 검색하기</button></a>-->
<!--</div>-->

<!--장소 선택 방식 -->
<!--<div class="place_option">-->
<!--  <form  method="post">-->
<!--    <button type="submit" formaction="/cases/new/selectPlace">장소 직접 선택하기</button>-->
<!--    <button type="submit" formaction="/cases/new/searchPlace">장소 검색하기</button>-->
<!--  </form>-->
<!--</div>-->

<!--장소 검색-->
<div class="search" style="">
  <input id="address" type="text" placeholder="검색할 주소" value="불정로 6" />
  <input id="submit" type="button" value="주소 검색" />
</div>

<div class="places">
  <table id ="results">
<!--    <tr>-->
<!--      <td>test</td>-->
<!--      <td>이상없음</td>-->
<!--    </tr>-->
  </table>

</div>

<!-- 지도 표기 -->
<div id="map" style="width:100%;height:350px;"></div>


<p><em>지도를 클릭/선택해주세요!</em></p>
<form action="/cases/new" method="post">
  <div className="form-group">
    <div id="clickLatlng"></div>
    <input type="hidden" id="missing_lat" name="missing_lat">
    <input type="hidden" id="missing_lng" name="missing_lng">
    <input type="text" id="missing_area" name="missing_area">
    <button type="submit">등록</button>
  </div>
</form>

<!--<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=lez4a7aeq8&submodules=geocoder"></script>-->
<script>
  /**
   * 스크립트 로드
   * <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=YOUR_CLIENT_ID&submodules=geocoder"><\/script>
   */

  var position = new naver.maps.LatLng(37.3595704, 127.105399);

  var map = new naver.maps.Map("map", {
    center: position,
    zoom: 15,
    mapTypeControl: true
  });

  var marker = new naver.maps.Marker({
    position: position,
    map: map
  });

  var infoWindow = new naver.maps.InfoWindow({
    anchorSkew: true
  });

  map.setCursor('pointer');

  function searchCoordinateToAddress(latlng) {

    infoWindow.close();

    naver.maps.Service.reverseGeocode({
      coords: latlng,
      orders: [
        naver.maps.Service.OrderType.ADDR,
        naver.maps.Service.OrderType.ROAD_ADDR
      ].join(',')
    }, function(status, response) {
      if (status === naver.maps.Service.Status.ERROR) {
        if (!latlng) {
          return alert('ReverseGeocode Error, Please check latlng');
        }
        if (latlng.toString) {
          return alert('ReverseGeocode Error, latlng:' + latlng.toString());
        }
        if (latlng.x && latlng.y) {
          return alert('ReverseGeocode Error, x:' + latlng.x + ', y:' + latlng.y);
        }
        return alert('ReverseGeocode Error, Please check latlng');
      }

      var address = response.v2.address,
          htmlAddresses = [];

      if (address.jibunAddress !== '') {
        htmlAddresses.push('[지번 주소] ' + address.jibunAddress);
      }

      if (address.roadAddress !== '') {
        htmlAddresses.push('[도로명 주소] ' + address.roadAddress);
      }

      infoWindow.setContent([
        '<div style="padding:10px;min-width:200px;line-height:150%;">',
        '<h4 style="margin-top:5px;">검색 좌표</h4><br />',
        htmlAddresses.join('<br />'),
        '</div>'
      ].join('\n'));

      infoWindow.open(map, latlng);

      missing_area.value = address.jibunAddress;
    });
  }

  function searchAddressToCoordinate(address) {
    naver.maps.Service.geocode({
      query: address
    }, function(status, response) {
      if (status === naver.maps.Service.Status.ERROR) {
        if (!address) {
          return alert('Geocode Error, Please check address');
        }
        return alert('Geocode Error, address:' + address);
      }

      if (response.v2.meta.totalCount === 0) {
        return alert('No result.');
      }

      var htmlAddresses = [],
          item = response.v2.addresses[0],
          point = new naver.maps.Point(item.x, item.y),
          places = response.v2.addresses;

      // console.log("Result : "+  JSON.stringify(response.v2) );
      // console.log("Result2 : "+  JSON.stringify(response.v2.addresses));
      // console.log("places : "+  JSON.stringify(places) );
      // let $table = document.createElement('table');
      var $table = document.getElementById('results');
      while($table.hasChildNodes()){
        $table.removeChild($table.firstChild);
      }

      // console.log("types 1 : "+  typeof(places) );
      // console.log("types 2 : "+  typeof(JSON.stringify(places)));

      var len = response.v2.meta.totalCount;
      // console.log("len : "+  len);
      // for (const place in places){
      for (let i=0; i<parseInt(len); i++) {
        // console.log("place : "+  places[i]);
        let $tr = document.createElement('tr');
        let $td = document.createElement('td');
        // $td.innerHTML = place[];

        if (places[i].roadAddress) {
          // htmlAddresses.push('[도로명 주소] ' + item.roadAddress);
          $td.innerHTML += '[도로명 주소] ' + places[i].roadAddress;
          // console.log('[도로명 주소] ' + places[i].roadAddress);
        }

        if (places[i].jibunAddress) {
          $td.innerHTML += "\n[지번 주소] " + places[i].jibunAddress;
          // htmlAddresses.push('[지번 주소] ' + item.jibunAddress);
          // console.log('[지번 주소] ' + places[i].jibunAddress);
        }

        $tr.appendChild($td);
        $table.appendChild($tr);
      }
      // document.body.appendChild($table);

      if (item.roadAddress) {
        htmlAddresses.push('[도로명 주소] ' + item.roadAddress);
      }

      if (item.jibunAddress) {
        htmlAddresses.push('[지번 주소] ' + item.jibunAddress);
      }

      if (item.englishAddress) {
        htmlAddresses.push('[영문명 주소] ' + item.englishAddress);
      }

      infoWindow.setContent([
        '<div style="padding:10px;min-width:200px;line-height:150%;">',
        '<h4 style="margin-top:5px;">검색 주소 : '+ address +'</h4><br />',
        htmlAddresses.join('<br />'),
        '</div>'
      ].join('\n'));

      map.setCenter(point);
      infoWindow.open(map, point);
    });
  }

  function initGeocoder() {
    map.addListener('click', function(e) {

      marker.setPosition(e.coord);

      // 선택한 위치 마커 찍기
      var message = marker.position.toString();
      var resultDiv = document.getElementById('clickLatlng');
      resultDiv.innerHTML =  message;

      var missing_lat = document.getElementById('missing_lat');
      var missing_lng = document.getElementById('missing_lng');
      var missing_area = document.getElementById('missing_area');
      missing_lat.value = marker.position.lat().toString();
      missing_lng.value = marker.position.lng().toString();

      searchCoordinateToAddress(marker.position);
    });

    $('#address').on('keydown', function(e) {
      var keyCode = e.which;

      if (keyCode === 13) { // Enter Key
        searchAddressToCoordinate($('#address').val());
      }
    });

    $('#submit').on('click', function(e) {
      e.preventDefault();

      searchAddressToCoordinate($('#address').val());
    });

    searchAddressToCoordinate('정자동 178-1');
  }

  naver.maps.onJSContentLoaded = initGeocoder;
</script>
</body>
</html>