<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>클릭한 위치에 마커 표시하기</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=lez4a7aeq8&submodules=geocoder"></script>
</head>
<body>

<!--장소 선택 방식 -->
<div class="place_option">
  <a href="/cases/new/selectPlace"><button>장소 직접 선택하기</button></a>
  <a href="/cases/new/searchPlace"><button>장소 검색하기</button></a>
</div>

<!--장소 검색-->
<div class="search" style="">
  <input id="address" type="text" placeholder="검색할 주소" value="불정로 6" />
  <input id="submit" type="button" value="주소 검색" />
</div>


<form action="/cases/new" method="post">
  <p><em>지도를 클릭해주세요!</em></p>

  <!-- 지도 표기 -->
  <div id="map" style="width:100%;height:350px;"></div>
  <div className="form-group">
    <div id="clickLatlng"></div>
    <input type="hidden" id="missing_lat" name="missing_lat">
    <input type="hidden" id="missing_lng" name="missing_lng">
    <input type="text" id="missing_area" name="missing_area">
    <button type="submit">등록</button>
  </div>

</form>



<script>
    var position = new naver.maps.LatLng(37.3595704, 127.105399);

    var map = new naver.maps.Map('map', {
      center: position,
      zoom: 15
    });

    var marker = new naver.maps.Marker({
      position: position,
      map: map
    });

    function searchCoordinateToAddress(latlng) {

      naver.maps.Service.reverseGeocode({
        coords: latlng,
        orders: [
          naver.maps.Service.OrderType.ADDR,
          naver.maps.Service.OrderType.ROAD_ADDR
        ].join(',')
      }, function(status, response) {
        if (status === naver.maps.Service.Status.ERROR) {
          if (!latlng) {
            return alert('ReverseGeocode Error, Please check latlng');
          }
          if (latlng.toString) {
            return alert('ReverseGeocode Error, latlng:' + latlng.toString());
          }
          if (latlng.x && latlng.y) {
            return alert('ReverseGeocode Error, x:' + latlng.x + ', y:' + latlng.y);
          }
          return alert('ReverseGeocode Error, Please check latlng');
        }

        var address = response.v2.address,
            htmlAddresses = [];

        if (address.jibunAddress !== '') {
          htmlAddresses.push('[지번 주소] ' + address.jibunAddress);
        }

        if (address.roadAddress !== '') {
          htmlAddresses.push('[도로명 주소] ' + address.roadAddress);
        }

        missing_area.value = address.jibunAddress;
      });
    }

    naver.maps.Event.addListener(map, 'click', function(e) {
      marker.setPosition(e.coord);
      var message = marker.position.toString();
      var resultDiv = document.getElementById('clickLatlng');
      resultDiv.innerHTML =  message;

      var missing_lat = document.getElementById('missing_lat');
      var missing_lng = document.getElementById('missing_lng');
      var missing_area = document.getElementById('missing_area');
      missing_lat.value = marker.position.lat().toString();
      missing_lng.value = marker.position.lng().toString();

      searchCoordinateToAddress(marker.position);
    });


</script>


</body>
</html>