<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<nav th:fragment="navFragment">
    <div class="side-title"><a href="#">관리자 모드</a></div>
    <ul class="side-menu">
        <li><a href="#" th:href="@{/admin}">HOME</a></li>
        <li><a href="#" th:href="@{/admin/userList}">회원관리</a></li>
        <li><a href='#' th:href="@{/admin/caseList}">사건관리</a></li>
        <li><a href='#' th:href="@{/admin/reportList}">제보관리</a></li>
        <li><a href='#' th:href="@{/users/logout}">로그아웃</a></li>
    </ul>
</nav>
</html>