<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin_main</title>
    <script src="https://kit.fontawesome.com/e6f78261b2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/admin/admin_nav.css">
    <link rel="stylesheet" href="/static/css/admin/admin_main.css">
</head>
<body>
<nav th:replace="admin/admin_nav :: navFragment"></nav>
<section>
    <div class="recent-user item">
        <div class="item-caption">
            <div class="item-title">최근 가입 회원</div>
        </div>
        <div class="item-content">

        </div>
    </div>
    <div class="num-visitors item">
        <div class="item-caption">
            <div class="item-title">누적 방문자수</div>
        </div>

    </div>
</section>
<script src="/static/js/admin_nav.js"></script>
</body>
</html>