<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin caseList</title>
    <link rel="stylesheet" href="/static/css/admin/admin_userlist.css">
    <link rel="stylesheet" href="/static/css/admin/admin_nav.css">
</head>
<body>
<nav th:replace="admin/admin_nav :: navFragment"></nav>
<section>
    <form class= "search-form" id="search-form" method="GET" th:action="@{/admin/caseList}">
        <select name="searchCondition" class="search-mode search-item" form="search-form">
            <option value="userid">아이디</option>
            <option value="username">이름</option>
        </select>
        <input type="text" name="searchKeyword" class="search-input search-item">
        <input type="submit" class="search-submit search-item" value="검색">
    </form>
    <div class="user-box">

        <table class="user-table">
            <thead>
            <tr>
                <th><input type="checkbox" class="checkbox-selectall"></th>
                <th>기본정보(작성자)</th>
                <th>실종자 이름</th>
                <th>실종자 나이</th>
                <th>실종지역</th>
                <th>조회수</th>
                <th>작성일</th>
                <th>수정일</th>
                <th>상세보기</th>
                <th>삭제</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="caseEntity : ${caseList}">
                <td><input type="checkbox" class="checkbox-select"></td>
                <td th:text = "${caseEntity.getUser().getEmail()} + '(' + ${caseEntity.caseId}+ ')'">채창완(sejchae)</td>
                <td th:text = "${caseEntity.missingName}">이름</td>
                <td th:text = "${caseEntity.missingAge}">20</td>
                <td th:text = "${caseEntity.missingArea}">지역</td>
                <td th:text = "${caseEntity.hitCnt}">2</td>
                <td th:text="${#temporals.format(caseEntity.createdTime, 'yyyy-MM-dd')}">2021-05-12</td>
                <td th:text="${#temporals.format(caseEntity.modifiedTime, 'yyyy-MM-dd')}">2021-05-12</td>
                <td><input type="button" value="보기" class="userdetailbtn table-btn" th:onclick="|openUserDetail('${caseEntity.caseId}')|"></td>
                <td><input type="button" value="삭제" class="deletebtn table-btn" th:onclick="|deleteUser('${caseEntity.caseId}')|"></td>
                <input type="hidden" th:value="${caseEntity.caseId}">
            </tr>
            </tbody>


        </table>


        <div class="bottombtn-box">
            <input type="button" value="전체선택" class="selectallbtn bottombtn" th:onclick="|checkall()|">
            <input type="button" value="선택삭제" class="bottom-deletebtn bottombtn" th:onclick="|deleteCheckedUsers()|">

        </div>

    </div>
</section>
<script src="/static/js/admin/admin_nav.js"></script>

</body>
</html>