<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin warnList</title>
    <link rel="stylesheet" href="/static/css/admin/admin_userlist.css">
    <link rel="stylesheet" href="/static/css/admin/admin_nav.css">
</head>
<body>
<nav th:replace="admin/admin_nav :: navFragment"></nav>
<section>
    <div class="user-box">

        <table class="user-table">
            <thead>
            <tr>
                <th><input type="checkbox" class="checkbox-selectall"></th>
                <th>신고자</th>
                <th>신고이유</th>
                <th>신고일</th>
                <th>상세보기</th>
                <th>삭제</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="warn : ${warnList}">
                <td><input type="checkbox" class="checkbox-select"></td>
                <td th:text = "${warn.getWarnSender().name} + '(' + ${warn.getWarnSender().id}+ ')'">채창완(sejchae)</td>
                <td th:text = "${warn.warnReason}">0</td>
                <td th:text="${#temporals.format(warn.createdTime, 'yyyy-MM-dd')}">2021-05-12</td>
                <td><input type="button" value="보기" class="userdetailbtn table-btn" th:onclick="|openUserDetail('${warn.id}')|"></td>
                <td><input type="button" value="삭제" class="deletebtn table-btn" th:onclick="|deleteUser('${warn.id}')|"></td>
                <input type="hidden" th:value="${warn.id}">
            </tr>
            </tbody>


        </table>


        <div class="bottombtn-box">
            <input type="button" value="전체선택" class="selectallbtn bottombtn" th:onclick="|checkall()|">
            <input type="button" value="선택삭제" class="bottom-deletebtn bottombtn" th:onclick="|deleteCheckedUsers()|">

        </div>

    </div>
</section>
<script src="/static/js/admin/admin_nav.js"></script>

</body>
</html>