<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="configFragment">
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=lez4a7aeq8"></script>
    <link rel="stylesheet" th:href="@{/static/plugins/bootstrap/bootstrap.min.css}">
    <!--	icon-->
    <link rel="stylesheet" th:href="@{/static/plugins/themify-icons/themify-icons.css}">
    <!--Favicon-->
    <link rel="icon" th:href="@{/static/images/earthguard.png}" type="image/x-icon">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <!-- Main Stylesheet -->
    <link th:href="@{/static/assets/style.css}" rel="stylesheet" media="screen" />

</th:block>
</html>