<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!-- footer -->
<footer th:fragment="footerFragment" class="section pb-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8 text-md-left text-center">
                <p class="mb-md-0 mb-4">Copyright © 2022 ComeBackHome by EarthGuard</p>
            </div>
            <div class="col-md-4 text-md-right text-center">
                <p class="mb-md-0 mb-4">문의 earthguard@gmail.com</p>
            </div>
        </div>
    </div>
</footer>
<!-- /footer -->
</html>