<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<!-- header -->
<header th:fragment="headerFragment">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="padding-top:5px;padding-bottom: 5px;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">ComeBackHome</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse text-center" id="navbarColor01">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/cases/searchCase">실종자 목록/제보</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cases/new">실종자 등록하기</a>
                    </li>

                    <li class="nav-item">
                        <a sec:authorize="isAuthenticated()" class="nav-link" href="/users/mypage">마이페이지</a>
                    </li>

                    <li class="nav-item">
                        <a sec:authorize="!isAuthenticated()" class="nav-link" href="/users/login">로그인</a>
                        <a sec:authorize="isAuthenticated()" class="nav-link" href="/users/logout">로그아웃</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
</html>