<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>실종자 지도보기</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=lez4a7aeq8"></script>
    <!--    <script type="text/javascript" src="../src/caseInfo.js"></script>-->
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=lez4a7aeq8&submodules=geocoder"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <style>
        html, body { width:100%;height:100%;padding:0;margin:0; }
    </style>

</head>
<body onload="javascript:initMap()">
<input type="button"
       value="시간별 보기" th:onclick="selectTime()">
<input type="button"
       value="장소별 보기" th:onclick="selectPlace()">

<input type="button" style="position: absolute; right: 5%;"
       value="제보 모두보기" th:onclick="|location.href='@{/reports/reportList/{id}(id=${caseEntity.caseId})}'|">
<section class="container-fluid" style="height: 100%;">
    <div id="map" style="width:70%;height:100%;padding:0;margin:0; float: left"></div>
    <div id="right-list" style="background-color: #9fcdff; height: 100%; width: 30%; float: right">
        <div class="upMenu" style="display: flex; flex-direction: row; margin-top: 10px;">
            <span style="flex: 1; margin-left: 10px; justify-content: space-between">발견시간</span>
            <span style="flex: 1; justify-content: space-between">발견위치</span>
        </div>
        <div style="display: flex; justify-content: left">
            <ul style="list-style:none; margin-right: auto;" class="reportUl">
            </ul>
        </div>
    </div>
</section>

<script>
    var map = new naver.maps.Map("map", {
        zoom: 15,
        center: new naver.maps.LatLng(37.3598205, 127.1164068),
        zoomControl: true,
        zoomControlOptions: {
            position: naver.maps.Position.TOP_LEFT,
            style: naver.maps.ZoomControlStyle.SMALL
        }
    });


    var polyline = new naver.maps.Polyline({
        map: map,
        path: []
    });
    var url = window.location.href;
    url=url.split("/");
    url = url[url.length - 1];

    function moveMapCenter(x, y) {
        var center = new naver.maps.LatLng(x, y);
        map.setCenter(center);
    }

    function moveMapCircle(addr) {
        var center = new naver.maps.LatLng(x, y);
        map.setCenter(center);
    }

    function selectTime() {

        $.ajax({
            type:"get",
            url:"report.json/"+url,
            dataType:"json",
            success: function(data){
                map = new naver.maps.Map("map", {
                    zoom: 15,
                    center: new naver.maps.LatLng(37.3598205, 127.1164068),
                    zoomControl: true,
                    zoomControlOptions: {
                        position: naver.maps.Position.TOP_LEFT,
                        style: naver.maps.ZoomControlStyle.SMALL
                    }
                });

                console.log("통신성공" + url);
                $('.reportUl').empty();
                $('.reportUl').css("list-style", "none");
                $('.upMenu').empty();
                $('.upMenu').append("<span style=\"flex: 1; margin-left: 10px; justify-content: space-between\">발견시간</span>" +
                    "<span style=\"flex: 1; justify-content: space-between\">발견위치</span>");
                var newpolyline = new naver.maps.Polyline({
                    map: map,
                    path: []
                });
                var path = newpolyline.getPath();

                $.each(data , function(i){
                    var x = data[i].witness_lat;
                    var y = data[i].witness_lng;
                    console.log(x, y);
                    path.push(new naver.maps.LatLng(x, y));
                    var marker = new naver.maps.Marker({
                        position: new naver.maps.LatLng(x, y),
                        map: map
                    });

                    str = "<li onclick='moveMapCenter("+x+","+y+")'><span>";
                    str += moment(data[i].witnessTime).format('YYYY-MM-DD') + '</span>';
                    str += '<span style="margin-left: 10px">'+data[i].witness_area+'</span></li>';
                    $('.reportUl').append(str);
                });



            },
            error:function(){
                console.log("통신에러");
            }
        })

    }

    function selectPlace() {
        $.ajax({
            type:"get",
            url:"area.json/"+url,
            dataType:"json",
            success: function(data){
                map = new naver.maps.Map("map", {
                    zoom: 15,
                    center: new naver.maps.LatLng(37.3598205, 127.1164068),
                    zoomControl: true,
                    zoomControlOptions: {
                        position: naver.maps.Position.TOP_LEFT,
                        style: naver.maps.ZoomControlStyle.SMALL
                    }
                });


                $('.reportUl').empty();
                $('.upMenu').empty();
                $('.upMenu').append('<span style="margin: auto;">제보 많은 지역</span>');
                $('.reportUl').css("list-style", "decimal");
                var addresses = [];
                var dic = {};


                $.each(data, function(key, value){
                    $.each(value, function(key, value){

                        addresses.push([key, value]);
                        var x, y;

                        searchAddressToCoordinate(key, function (result) {
                            dic[key] = result;
                        });

                        var circle = new naver.maps.Circle({
                            map: map,
                            center: new naver.maps.LatLng(y, x),
                            radius: 500,
                            strokeWeight:0,
                            fillColor: 'CornflowerBlue',
                            fillOpacity: 0.5
                        });


                        // naver.maps.Service.geocode({
                        //     query: key
                        // }, function(status, response) {
                        //
                        //     var item = response.v2.addresses[0];
                        //     x = item.x;
                        //     y = item.y;
                        //     var circle = new naver.maps.Circle({
                        //         map: map,
                        //         center: new naver.maps.LatLng(y, x),
                        //         radius: 500,
                        //         strokeWeight:0,
                        //         fillColor: 'CornflowerBlue',
                        //         fillOpacity: 0.5
                        //     });
                        //
                        //
                        //
                        // });




                    });
                    console.log("dic : " + dic + dic.length);

                });

                for (var i = 0; i < addresses.length; i++) {
                    var addr = addresses[i];
                    // var x = dic[addr];
                    // var y = dic[addr].y;
                    console.log("x, y " );

                    str = '<li><span>';
                    // str = "<li onclick='moveMapCenter("+x+","+y+")'><span>";
                    str += addr[0] + '</span>';
                    str += '<span style="margin-left: 10px">'+addr[1]+'개</span></li>';
                    $('.reportUl').append(str);

                }




            },
            error:function(){
                console.log("통신에러");
            }
        })



    }

    function searchAddressToCoordinate(address, callback) {
        var point;
        naver.maps.Service.geocode({
            query: address
        }, function(status, response) {


            var htmlAddresses = [],
                item = response.v2.addresses[0];
            point = new naver.maps.Point(item.x, item.y);
            callback(point);


        });

    }


    function initMap() {

        $.ajax({
            type:"get",
            url:"report.json/"+url,
            dataType:"json",
            success: function(data){
                console.log("통신성공" + url);
                $('.reportUl').empty();
                var path = polyline.getPath();

                $.each(data , function(i){
                    var x = data[i].witness_lat;
                    var y = data[i].witness_lng;
                    console.log(x, y);
                    path.push(new naver.maps.LatLng(x, y));
                    var marker = new naver.maps.Marker({
                        position: new naver.maps.LatLng(x, y),
                        map: map
                    });
                    str = '<li><span>';
                    str += moment(data[i].witnessTime).format('YYYY-MM-DD') + '</span>';
                    str += '<span style="margin-left: 10px">'+data[i].witness_area+'</span></li>';
                    $('.reportUl').append(str);
                });

            },
            error:function(){
                console.log("통신에러");
            }
        })


    }






</script>

</body>
</html>