<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <meta charset="utf-8">
  <title>ComeBackHome</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script type="text/javascript" src="/assets/markerClustering.js"></script>

  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=lez4a7aeq8"></script>

  <link rel="stylesheet" th:href="@{/static/plugins/bootstrap/bootstrap.min.css}">
  <!--	icon-->
  <link rel="stylesheet" th:href="@{/static/plugins/themify-icons/themify-icons.css}">
  <!--Favicon-->
  <link rel="icon" th:href="@{/static/images/earthguard.png}" type="image/x-icon">
  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
  <!-- Main Stylesheet -->
  <link th:href="@{/static/assets/style.css}" rel="stylesheet" media="screen" />

  <style>
    html, body { width:100%;height:100%;padding:0;margin:0; }
  </style>

</head>

<body onload="javascript:initMap()">
<!-- header -->
<header class="banner overlay bg-cover" >
  <nav class="navbar navbar-expand-md navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand px-2" href="/">ComeBackHome</a>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation"
              aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse text-center" id="navigation">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <a class="nav-link text-dark" href="/casesMap">지도보기</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/cases/searchCase">실종자 목록/제보</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/cases/new">실종자 등록하기</a>
          </li>

          <li class="nav-item">
            <a sec:authorize="!isAuthenticated()" class="nav-link text-dark" href="/users/login">로그인</a>
            <a sec:authorize="isAuthenticated()" class="nav-link text-dark" href="/users/logout">로그아웃</a>
            <a sec:authorize="isAuthenticated()" class="nav-link text-dark" href="/users/mypage">마이페이지</a>
          </li>
<!--          <li sec:authorize="!isAuthenticated()" class="nav-item">-->
<!--            <span sec:authorize="isAuthenticated()" sec:authentication="name"></span>님, 환영합니다.-->
<!--          </li>-->
        </ul>
      </div>
    </div>
  </nav>
  <!-- banner -->
<!--  <div class="container section">-->
<!--    <div class="row">-->
<!--      <div class="col-lg-8 text-center mx-auto">-->
<!--        <h1 class="text-white mb-3">실종자를 찾아주세요!</h1>-->
<!--        <p class="text-white mb-4">지도를 기반으로 실종자 정보를 보려면, 지도보기를 눌러주세요.</p>-->
<!--        <div class="position-relative">-->
<!--          <input id="search" class="form-control" placeholder="실종자를 검색해주세요"><i-->
<!--                class="ti-search search-icon"></i>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div>-->
<!--    <h4>사건 관련</h4>-->
<!--    <p>-->
<!--      <a href="/cases">사건 목록</a>-->
<!--    </p>-->

<!--    <h4>증언 관련</h4>-->
<!--    <p>-->
<!--      <a href="/reports/new">증언 하기</a>-->
<!--      <a href="/reports">증언 목록</a>-->
<!--    </p>-->

<!--    <h4>회원 관련</h4>-->
<!--    <p sec:authorize="!isAuthenticated()">-->
<!--      <a href="/users/signup">회원가입</a>-->
<!--      <a href="/users/login">로그인</a>-->
<!--    </p>-->

<!--    <div sec:authorize="isAuthenticated()">-->
<!--      <span sec:authorize="isAuthenticated()" sec:authentication="name"></span>님 환영합니다.-->
<!--      <p>-->
<!--        <a href="/users/mypage">마이페이지</a>-->
<!--      </p>-->
<!--    </div>-->
<!--  </div>-->

  <!-- /banner -->
</header>
<!-- /header -->

<!-- call to action -->
<section class="container-fluid" style="height: 100%;">
<!--  <div class="container-fluid">-->
    <div class="row" style="height: 100%">
      <div class="col-4">
        <div class="section bg-white shadow text-center">
          <div class="position-relative">
            <input id="search" class="form-control" placeholder="실종자를 검색해주세요"><i
                  class="ti-search search-icon"></i>
          </div>
        </div>
      </div>
      <div id="map"class ="col-8" style="width:100%;height:100%;padding:0;margin:0;"></div>
      <script>
        var map = new naver.maps.Map("map", {
          zoom: 7,
          center: new naver.maps.LatLng(36.2253017, 127.6460516),
          zoomControl: true,
          zoomControlOptions: {
            position: naver.maps.Position.TOP_LEFT,
            style: naver.maps.ZoomControlStyle.SMALL
          }
        });

        var htmlMarker1 = {
                  content: '<div style="cursor:pointer;width:40px;height:40px;line-height:42px;font-size:10px;color:white;text-align:center;font-weight:bold;background:url(/static/images/cluster-marker-1.png);background-size:contain;"></div>',
                  size: N.Size(40, 40),
                  anchor: N.Point(20, 20)
                },
                htmlMarker2 = {
                  content: '<div style="cursor:pointer;width:40px;height:40px;line-height:42px;font-size:10px;color:white;text-align:center;font-weight:bold;background:url(/static/images/cluster-marker-2.png);background-size:contain;"></div>',
                  size: N.Size(40, 40),
                  anchor: N.Point(20, 20)
                },
                htmlMarker3 = {
                  content: '<div style="cursor:pointer;width:40px;height:40px;line-height:42px;font-size:10px;color:white;text-align:center;font-weight:bold;background:url(/static/images/cluster-marker-3.png);background-size:contain;"></div>',
                  size: N.Size(40, 40),
                  anchor: N.Point(20, 20)
                },
                htmlMarker4 = {
                  content: '<div style="cursor:pointer;width:40px;height:40px;line-height:42px;font-size:10px;color:white;text-align:center;font-weight:bold;background:url(/static/images/cluster-marker-4.png);background-size:contain;"></div>',
                  size: N.Size(40, 40),
                  anchor: N.Point(20, 20)
                },
                htmlMarker5 = {
                  content: '<div style="cursor:pointer;width:40px;height:40px;line-height:42px;font-size:10px;color:white;text-align:center;font-weight:bold;background:url(/static/images/cluster-marker-5.png);background-size:contain;"></div>',
                  size: N.Size(40, 40),
                  anchor: N.Point(20, 20)
                };


        var markers = [],
                infoWindows =[];

        function initMap() {

          $.ajax({
            type:"get",
            url:"data.json",
            dataType:"json",
            success: function(data){
              console.log("통신성공");
              $.each(data , function(i){
                var x = data[i].missingLat;
                var y = data[i].missingLng;
                console.log(x, y)
                var marker = new naver.maps.Marker({
                  position: new naver.maps.LatLng(x, y),
                  map: map,
                  draggable: false
                });
                //클릭하면 해당 사건 출력
                var infoWindow = new naver.maps.InfoWindow({
                  content: '<div style="width:150px;text-align:center;padding:10px;">실종자 이름: <b>"'+ data[i].missingName +'"</b>.</div>'
                });
                markers.push(marker);
                infoWindows.push(infoWindow);
              });
              console.log(markers);

              //클러스터링
              var markerClustering = new MarkerClustering({
                minClusterSize: 2,
                maxZoom: 8,
                map: map,
                markers: markers,
                disableClickZoom: false,
                gridSize: 120,
                icons: [htmlMarker1, htmlMarker2, htmlMarker3, htmlMarker4, htmlMarker5],
                indexGenerator: [10, 100, 200, 500, 1000],
                stylingFunction: function(clusterMarker, count) {
                  $(clusterMarker.getElement()).find('div:first-child').text(count);
                }
              });

              function getClickHandler(seq){
                return function(e) {
                  var marker = markers[seq],
                          infoWindow = infoWindows[seq];

                  if (infoWindow.getMap()) {
                    infoWindow.close();
                  } else {
                    infoWindow.open(map, marker);
                  }
                }
              }

              for (var i=0, ii=markers.length; i<ii; i++) {
                console.log(markers[i] , getClickHandler(i));
                naver.maps.Event.addListener(markers[i], 'click', getClickHandler(i));
              }
            },
            error:function(){
              console.log("통신에러");
            }
          })
        }

      </script>
      </div>
<!--    </div>-->
</section>
<!-- /call to action -->

<!-- footer -->
<footer class="section pb-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8 text-md-left text-center">
        <p class="mb-md-0 mb-4">Copyright © 2022 ComeBackHome by EarthGuard</p>
      </div>
      <div class="col-md-4 text-md-right text-center">
        <p class="mb-md-0 mb-4">문의 earthguard@gmail.com</p>
      </div>
    </div>
  </div>
</footer>
<!-- /footer -->

<!-- ** JS Plugins Needed for the Project ** -->
<!-- jquiry -->
<script src="/static/plugins/jquery/jquery-1.12.4.js"></script>
<!-- Bootstrap JS -->
<script src="/static/plugins/bootstrap/bootstrap.min.js"></script>
<!-- match-height JS -->
<script src="/static/plugins/match-height/jquery.matchHeight-min.js"></script>
<!-- Main Script -->
<script src="/static/assets/script.js"></script>
</body>

</html>