<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content" class="container">
    <h1>로그인</h1>
    <div th:if="${param.error}">
        <p th:text="${exception}" class="alert alert-danger"></p>
    </div>
    <form th:action="@{/login_proc}" method="post">
        <div class="form-group">
            <label th:for="email">이메일</label>
            <input type="text" name="email" class="form-control" placeholder="이메일 입력해주세요">
        </div>
        <div class="form-group">
            <label th:for="password">비밀번호</label>
            <input type="password" class="form-control" name="password" placeholder="비밀번호">
        </div>
        <button type="submit" class="btn btn-primary">로그인</button>
    </form>
    <a href="/oauth2/authorization/google"><p>구글로그인</p></a>
    <p>아직 회원이 아니신가요?&nbsp;&nbsp;<a href="/users/signup">회원가입</a></p>

    <br/>
</div>
</html>