<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content" class="container">
    <div>
        <h4>마이페이지</h4>
        <p>
            <a href="/mypage/edit">회원정보 수정</a>
        </p>
        <p>
            <a href="/mypage/cases">내가 작성한 사건 목록</a>
        </p>
        <p>
            <a href="/mypage/reports">내가 작성한 증언 목록</a>
        </p>



    </div>
</div>
</html>